<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>livres</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Principale</display-name>
    <servlet-name>Principale</servlet-name>
    <servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Principale</servlet-name>
    <url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postAdd</display-name>
    <servlet-name>postAdd</servlet-name>
    <servlet-class>tn.essat.controller.postAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postAdd</servlet-name>
    <url-pattern>/postAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>tn.essat.controller.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>author</display-name>
    <servlet-name>author</servlet-name>
    <servlet-class>tn.essat.controller.author</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>author</servlet-name>
    <url-pattern>/author</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preAdd</display-name>
    <servlet-name>preAdd</servlet-name>
    <servlet-class>tn.essat.controller.preAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preAdd</servlet-name>
    <url-pattern>/preAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postAddCat</display-name>
    <servlet-name>postAddCat</servlet-name>
    <servlet-class>tn.essat.controller.postAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postAddCat</servlet-name>
    <url-pattern>/postAddCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCat</display-name>
    <servlet-name>deleteCat</servlet-name>
    <servlet-class>tn.essat.controller.deleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCat</servlet-name>
    <url-pattern>/deleteCat</url-pattern>
  </servlet-mapping>
</web-app>